<br>

<head>
    <title>Mistakes</title>
    <style>
        span {
            color: #FF2F00;
        }
    </style>

</head>
<body>
<b>Входной запрос содержит следующую ошибку:</b>
<br></br>

{{#error}}
    <div>
        <span>{{error}}</span>
    </div>
{{/error}}

</body>
</html>