<br>

<head>
    <title>Messages</title>
    <style>
        span {
            color: #FF2F00;
        }
    </style>

</head>
<body>

{{#message}}
    <div>
        <span>{{message}}</span>
    </div>
{{/message}}

</body>
</html>